{{#if pages}}
  <a href="#" {{action "save"}}>Save</a>
  <div class="card">
    {{#each pages as |rows|}}
    <div class="card-block">
      <table class="table table-bordered">
        <tbody>
          {{#each rows as |row|}}
          <tr>
            {{#each row as |cell|}}
            <td>{{cell}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/each}}
  </div>
{{else}}
  <div class="container" style="height: 80vh;">
    <div class="row h-100 justify-content-center align-items-center">
      <span class="align-middle"><a href="#" class="btn btn-outline-primary btn-lg" {{action "pickFile"}}>Choose file</a></span>
    </div>
  </div>
{{/if}}