<h1>Generate csv</h1>
{{#if rows}}
  <a href="#" {{action "clear"}}>Reset</a>
{{else}}
  <a href="#" {{action "pickFile"}}>Choose file</a>
{{/if}}

<table>
  <tbody>
    {{#each rows as |row|}}
      <tr>
        {{#each row as |cell|}}
          <td>{{cell}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>